@model ApplicationTEST.Models.Experience_prof

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Experience_prof</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="poste_occupe" class="control-label"></label>
                <input asp-for="poste_occupe" class="form-control" />
                <span asp-validation-for="poste_occupe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lieu_Exp" class="control-label"></label>
                <input asp-for="lieu_Exp" class="form-control" />
                <span asp-validation-for="lieu_Exp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_debut" class="control-label"></label>
                <input asp-for="date_debut" class="form-control" />
                <span asp-validation-for="date_debut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_fin" class="control-label"></label>
                <input asp-for="date_fin" class="form-control" />
                <span asp-validation-for="date_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
